<!--
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Gerador de Artes</ion-title>
  </ion-toolbar>
</ion-header>
-->
<ion-content [fullscreen]="true">


  <div id="gradient-container">
    <img src="../../../assets/logo.png" style="height: 50px; width:140px; margin: 15%;" alt="">
    <br>
    <h1 style="padding: 15%;">Bem-Vindo ao <br> Gerador de Artes</h1>
    <p style="padding: 15%;">Com o seu código de  acesso em mãos, clique no botão abaixo e comece a gerar artes!</p>
    <ion-button color="light"><a style="color: inherit;   text-decoration: none;" target="_blank" rel="noopener noreferrer" href="https://app.geradordeartes.com.br">Iniciar</a></ion-button>
  </div>
</ion-content>

